/* line 1, /Users/max/Documents/Programming/whelp/app/assets/stylesheets/events.scss */
#banner {
  background-image: url("/assets/docks-3771b9df1e01e261442c97d10a6f796d9ab2aa27f1c30fd5822fc9d135d09a28.jpg");
}

/* Dropdown Button */
/* line 6, /Users/max/Documents/Programming/whelp/app/assets/stylesheets/events.scss */
.dropbtn {
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
/* line 12, /Users/max/Documents/Programming/whelp/app/assets/stylesheets/events.scss */
.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
/* line 17, /Users/max/Documents/Programming/whelp/app/assets/stylesheets/events.scss */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
/* line 23, /Users/max/Documents/Programming/whelp/app/assets/stylesheets/events.scss */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* Links inside the dropdown */
/* line 32, /Users/max/Documents/Programming/whelp/app/assets/stylesheets/events.scss */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
/* line 40, /Users/max/Documents/Programming/whelp/app/assets/stylesheets/events.scss */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
/* line 43, /Users/max/Documents/Programming/whelp/app/assets/stylesheets/events.scss */
.show {
  display: block;
}
