<!-- Facebook script -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- Twitter script -->
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<h1>Whelcome to Whelp!</h1>
<p>Dog lovers site for dog events and venues.</p>
<br>

<div> <!-- Search bar begins -->
  <label>Search for dog-friendly events or venues here!</label>
  <%= form_tag({controller: "welcome", action: "index"}, method: "get") do %>
    <%= text_field_tag :search_params %>
    <%= submit_tag 'Search' %>
  <% end %>
</div> <!-- Search bar ends -->

<% if !@search_results.nil? %>
  <div> <!-- Search results area begins -->
    <% if @search_results.empty? %>
      <h4>No results match your search!</h4>
    <% elsif @search_results.length > 0 %>
      <h4>Here are your results:</h4>
      <ul>
        <% @search_results.each do |result| %>
          <li><%= result.name %></li>
        <% end %>
      </ul>
    <% end %>
  </div> <!-- Search results area ends -->
<% end %>

<p>Share us on Facebook!</p><div class="fb-share-button" data-href="http://maxrobock.com" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flocalhost%3A3000%2F&amp;src=sdkpreparse">Share</a></div>
<p>Tweet about us in Twitter!</p>
<a href="https://twitter.com/share" class="twitter-share-button" data-show-count="false">Tweet</a>

<hr>
<h2>Events and Meet(p)ups</h2>
<div id="eventsCalendar"></div>
