body {
  padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

footer {
  margin: 50px 0;
}

.notice {
  color: #318e40;
}

.alert {
  color: red;
}

.navbar-inverse {
  background-color: #00a8ff;
  border: 0px;
}

.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}

.navbar-inverse .navbar-nav > li > a:hover {
  color: #ff7f00;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #ff7f00;
}

.nav > li > div {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.navbar-brand {
  padding: 5px;
}

.navbar-brand > img {
  height: 100%;
}

nav button {
  background-color: #ff7f00;
  color: #fff;
	border-width: 0;
}

.table-striped {
  width: 100%;
}

.thumbnail {
  border: 0px;
}

.search_div {
  max-width: 100%;
  word-wrap: break-word;
  padding: 5px;
}

.search_div > div {
  border: 2px solid #00a8ff;
  margin: auto 1px;
  padding: 10px;
}
