@font-face {
   font-family: 'Glyphicons Halflings';
   src: asset_path('glyphicons-halflings-regular.eot');
   src: asset_path('glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
      asset_path('glyphicons-halflings-regular.woff') format('woff'),
      asset_path('glyphicons-halflings-regular.ttf') format('truetype'),
      asset_path('glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
