// Place all the styles related to the Venues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#venue_description {
  height: 200px;
  width: 300px;
}

#venue_map {
  height: 200px;
  width: 200px;
}
