// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

nav, p, ol, ul, td {
  margin: auto 0;
}

.notice {
  color: #05f72c;
}

.alert {
  color: red;
}

.table-striped {
  width: 100%;
}
